#dealsinspired{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-content: space-around   ;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 50px;
}
#dealsinspired>div{
    display: flex;
    flex-direction: column;
}
#dealsinspired img{
    width: 300px;
    margin-bottom: 40px;
}
#dealsinspired>div div{
    display: flex;
    align-items: center;
    color:#7aa6e2 ;
}
#dealsinspired>div h3{
    margin-top: -6px;
    margin-bottom: -10px;
}
#dealsinspired a{
    text-decoration: none;
    color: #7aa6e2;
}
#dealsinspired a:hover{
    text-decoration-line: underline;
}