body {
  background-color: #f0f2f4;
}
#NavbarMainDiv img {
  width: 5%;
  margin-left: 200px;
}
#NavbarMainDiv a {
  margin-right: 300px;
  color: white;
}
#container {
  width: 25%;
  margin: auto;
  align-content: center;
  /* border: 1px solid red; */
  padding: 5px;
  background-color: white;
  text-align: center;
}
#showDiv {
  width: 100%;
  height: 6px;
  margin-top: 85px;
  background-color: white;
  margin-bottom: 50px;
}
#container {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding-bottom: 20px;
}
#form {
  display: grid;
  grid-template-columns: repeat(1, 90%);
  padding: 20px 10px 20px 30px;
}
/* img:hover{
            display: none;
        } */
label {
  font-weight: bold;
}
input {
  height: 25px;
  margin-bottom: 0px;
  padding: 10px;
  /* border-radius: 1px ; */
  font-size: 16px;
  font-weight: 500;
}
h2 {
  font-size: 30px;
  margin-top: 10px;
}
#email{
  margin-bottom: 20px;
}

input:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid orangered;
}

input:placeholder-shown {
  font-size: 16px;
  color: black;
  font-weight: bold;
}
#submit {
  height: 40px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
#container > p {
  padding-left: 12px;
  margin-right: 13px;
  font-size: 13px;
}
a {
  text-decoration: none;
  padding-left: 13px;
  font-size: 14px;
}
